.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'monospace', cursive;
      color: #ffd700;
      font-size: 14px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '</h1>';
      font-family: 'monospace', cursive;
      color: #ffd700;
      font-size: 14px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

   h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    transition: 0.2s ease-in;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }

  .flat-button1 {
    color: #333;
    background: #ffd700;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    transition: 0.2s ease-in;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      color: #ffd700;
      background: none;
    }
  }
  .big-s {
    z-index: 0;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    animation: hinge 5s linear;
    animation-delay: 5s;
    transform: rotate(35deg);
  }
}
