
span {
  color: #ffd700;
}
.svg1 {
  animation: 12s 1s bounceIn; 
  animation-iteration-count:infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100px;
  left:auto;
  margin: auto;
}

.monkey {
  stroke-width: 2px;
  stroke-dashoffset: -2000;
  stroke-dasharray: 2000;
  animation-name: monkey;
  animation-duration: 12s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  
  }
 
    @keyframes monkey {
      
      0% {
        stroke-dashoffset: -2000;
        stroke: #ffd700;
        
      }
    
      40% {
        stroke: #fd7e14;
    
      }
      60% {
        stroke: #fff;

      }
      80% {
        stroke: #fd7e14;
        
      }
      100% {
      stroke-dashoffset:0;  
      stroke: #ffd700;
      
    }
  
  }
  
