html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
  overflow: hidden;
  display: block;
}

/*2560x1440*/
@media(max-width: 160em) {
  /*Home page*/
  .home-page .big-s  {
    width: 696px;
    height: 1108px;
  }
  .home-page h1 {
    font-size: 86px;
    line-height: 86px;
  }
  .home-page h1 img {
    width: 52px;
  }
  .home-page h2 {
    font-size: 24px;
  }

  /*About page*/
  .container.about-page h1 {
    font-size: 74px;
  }
  .container.about-page p {
    font-size: 18px;
  }
  .container.about-page .text-zone {
    width: 30%;
  }
  .stage-cube-cont {
    width: 50%;
    height: 20%;
    top: 12%;
    left: 35%;
    right: 15%;
    position: absolute;
  }
  
  /*Project page*/
  .container.portfolio-page h1 {
    font-size: 74px;
  }
  .portfolio-page .images-container .image-box {
    height: 345px;
  }
  .portfolio-page .images-container .content .description {
    font-size: 18px;
  }
  .portfolio-page .images-container .content .description {
    margin: -205px 32px;
  }
  .portfolio-page .images-container .content .title {
    font-size: 18px;
    bottom: 4px;
    left: 18px;
  }
  .portfolio-page .images-container .image-box {
    height: 415px;
    top: 25%
  }

  /*Skill page*/
  .svg1 {
    right: 345px;
  }

  /*Skill page, Contact page*/ 
  .container.skill-page h1, 
  .container.contact-page h1 {
    font-size: 74px;
  }
  .container.skill-page p,
  .container.contact-page p  {
    font-size: 18px;
  }
  
}


/*1920x1080*/
@media (max-width: 120em) {
  /*Home page*/
  .home-page .big-s  {
    width: 570px;
    height: 900px;
  }
  .home-page h1 {
    font-size: 74px;
    line-height: 74px;
  }
  .home-page h1 img {
    width: 48px;
  }
  .home-page h2 {
    font-size: 18px;
  }
  .home-page .flat-button, .home-page .flat-button1 {
    font-size: 16px;
  }

  /*About page*/
  .container.about-page h1 {
    font-size: 74px;
  }
  .container.about-page p {
    font-size: 18px;
  }
  .container.about-page .text-zone {
    width: 30%;
  }
  .stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 12%;
    left: 35%;
    right: 15%;
    position: absolute;
  }
  
  /*Project page*/
  .container.portfolio-page h1 {
    font-size: 74px;
  }
  .portfolio-page .images-container .image-box {
    height: 345px;
  }
  .portfolio-page .images-container .content .description {
    font-size: 18px;
  }
  .portfolio-page .images-container .content .description {
    margin: -205px 32px;
  }
  .portfolio-page .images-container .content .title {
    font-size: 18px;
    bottom: 4px;
    left: 18px;
  }

  /*Skill page*/
  .svg1 {
    right: 345px;
  }

  /*Skill page, Contact page*/ 
  .container.skill-page h1, 
  .container.contact-page h1 {
    font-size: 74px;
  }
  .container.skill-page p,
  .container.contact-page p  {
    font-size: 18px;
  }
  
}

/*1600x900*/
@media(max-width: 100em) {
.home-page .big-s  {
    width: 428px;
    height: 676px; 
  }
  /*skill page*/
  .portfolio-page .images-container .image-box {
    height: 258px;
  }
  
  .portfolio-page .images-container .content .title {
    bottom: -5px;
  }

}

/*1536x864*/
@media(max-width: 96em) {
  .home-page .big-s  {
    width: 360px;
    height: 560px; 
  }
  .home-page .big-s {
    right: 10%;
  }

  .home-page .text-zone {
    width: 50%;
  }
  .container.skill-page .text-zone {
    width: 40%;
  }
  .svg1 {
    right: 215px;
  }
  .stage-cube-cont {
    height: 40%;
    top: 10%;
    left: 45%;
    right: 15%;
}
  
}

/*1440x900*/
@media(max-width: 90em) {

  .home-page h1, 
  .container.about-page h1,
  .container.skill-page h1,
  .container.portfolio-page h1,
  .container.contact-page h1  {
    font-size: 62px;
    line-height: 62px;
  }
  .home-page h1 img {
    width: 42px;
  }
  

}
/*1360*/
@media(max-width: 85em) {
  .stage-cube-cont {
    height: 45%;
    top: 0;
    left: 45%;
    right: 15%;
}
}

/*1280x720*/
@media(max-width: 80em) {
  .home-page .text-zone {
    width: 45%;
  }
  .home-page .big-s  {
    width: 360px;
    height: 590px; 
    right: 10%;
  }
  .home-page h2 {
    font-size: 14px;
  }
  .home-page .flat-button, .home-page .flat-button1 {
    font-size: 14px;
  }

.home-page h1, 
  .container.about-page h1,
  .container.skill-page h1,
  .container.portfolio-page h1,
  .container.contact-page h1  {
    font-size: 52px;
    line-height: 52px;
  }
  .home-page h1 img {
    width: 36px;
  }
  .container.about-page p, 
  .container.skill-page p,
  .container.contact-page p {
    font-size: 16px;
    letter-spacing: 0.5px;
    
  }
.stage-cube-cont {
  top: 0;
  left: 45%;
  right: 15%;
}
.portfolio-page 
.images-container 
.content .description {
  margin: -160px 18px;
}
.portfolio-page 
.images-container 
.image-box {
  height: 200px;
}
.portfolio-page 
.images-container 
.content 
.title {
  bottom:-10px;
}
}
/*1104*/
@media(max-width: 69em) {
  .home-page .big-s  {
    width: 260px;
    height: 400px; 
    right: 15%;
  }
  .home-page h1, 
  .container.about-page h1,
  .container.skill-page h1,
  .container.portfolio-page h1,
  .container.contact-page h1   {
    font-size: 44px;
    line-height: 44px;
  }
  .container.about-page p, 
  .container.skill-page p,
  .container.contact-page p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .portfolio-page .images-container {
    grid-template-columns: repeat(2,1fr);
  }
  .portfolio-page .images-container .content .description {
    font-size: 14px;
  }
  .portfolio-page 
  .images-container 
  .content 
  .title {
    font-size: 14px;
    bottom: -5px;
  } 
  .home-page h1 img {
    width: 32px;
}
.cubespinner div {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
.container.about-page .text-zone {
  width: 36%;
}
.monkey {
  display: none;
}
}
/*912*/
@media(max-width: 57em) {
  .home-page .big-s {
    display: none;
  }
  .home-page h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .home-page h1 img {
    width: 24px;
  }
  .home-page h2 {
    font-size: 12px;
}
.home-page .flat-button, .home-page .flat-button1 {
  font-size: 12px;
}
.nav-bar .logo img.sub-logo{
  display: none;
}
.nav-bar .logo img {
width: 18px;
}
.nav-bar {
  width: 28px;
}
.nav-bar nav a {
  font-size: 16px;
  height: 36px;
  line-height: 40px;
}
.nav-bar nav a:after {
  display: none;
}
.nav-bar ul li a {
  font-size: 12px;
  line-height: 12px;
}
.info-map {
  top: 0;
  font-size: 14px;
  left: 51%;
  width: 175px;
}
}

/*768*/
@media(max-width: 48em) {
  .home-page h1:before {
    font-size: 10px;
    margin-top: -20px;
  }
  .container.contact-page h1:before, 
  .container.about-page h1:before, 
  .container.portfolio-page h1:before, 
  .container.skill-page h1:before,
  .container.contact-page h1:after, 
  .container.about-page h1:after, 
  .container.portfolio-page h1:after, 
  .container.skill-page h1:after{
    font-size: 10px;
  }
  .home-page h1:after {
    font-size: 10px;
    margin-left: 8px;
    margin-top: 8px;
  }
  .home-page h1 img {
    width: 20px;
}
  .home-page h2 {
    display: none;
  }  
  .top-tags-html {
    left: 50px;
  }
  .tags {
    font-size: 10px;
    left: 50px;
  }
  .top-tags-body {
    left: 70px;
  }
  .bottom-tags-body {
    left: 70px;
  }
  .home-page h1, 
  .container.about-page h1,
  .container.skill-page h1,
  .container.portfolio-page h1,
  .container.contact-page h1   {
    font-size: 30px;
    line-height: 30px;
  }
 
.home-page .flat-button, .home-page .flat-button1 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding: 4px 8px;
}
.container.about-page p, 
.container.skill-page p,
.container.contact-page p {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.home-page .text-zone {
  top: 45%;
}
.stage-cube-cont {
  top: 20%;
  left: 32%;
  position: absolute;
}
.container.about-page .text-zone {
  width: 65%;
  top: 45%;
}

.container.skill-page .text-zone {
  width: 70%;
  top: 45%;
}
.map-wrap {
  display: none;
}

.container.contact-page .text-zone {
  width: 70%;
  left: 10%;
}
.contact-form input[type=text], .contact-form input[type=email] {
  height: 32px;
  font-size: 14px;
}
.contact-form textarea {
  font-size: 14px;
}
.contact-form ul li {
  margin-bottom: 5px;
}
.info-map span {
  font-size: 14px;
}
.contact-form .flat-button {
  font-size: 10px;
  padding: 4px 8px;
}
.portfolio-page .images-container .image-box .portfolio-image {
  width: 90%;
  height: 90%;
}
.portfolio-page .images-container .content {
  width: 90%;
  height: 16%;
  bottom: 10px;
}
.portfolio-page .images-container .content .title {
  font-size: 14px;
  bottom: -9px;
}
.portfolio-page .images-container {
  row-gap: 4px;
}
.portfolio-page .images-container .image-box {
  height: 160px;
}
.portfolio-page .images-container .image-box:after {
  width: 90%;
  height: 90%;
}
.portfolio-page .images-container .content .description {
  font-size: 12px;
  width: 90%;
  height:90%;
  margin: -117px 18px;
}
.container.portfolio-page h1 {
  margin-bottom: 0;
}

.portfolio-page h1.page-title {
  margin-left: 10%;
  margin-top: 20%;
}
}
/*624*/
@media(max-width: 39em) {
  .portfolio-page .images-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-page h1, 
  .container.about-page h1,
  .container.skill-page h1,
  .container.portfolio-page h1,
  .container.contact-page h1   {
    font-size: 24px;
    line-height: 24px;
  }
  .home-page h1 img {
    width: 16px;
  }
  .home-page .flat-button {
    margin-top: 12px;
  }
  .home-page .flat-button1 {
    margin-top: 12px;
    padding: 4px 3px;
  }
  .home-page .text-zone {
    top: 50%;
    left: 15%;
}
.container.about-page .text-zone {
  width: 70%;
  top: 45%;
  left: 18%;
}
.portfolio-page h1.page-title {
  margin-left: 0%;
  margin-top: 30%;
}
.container.contact-page .text-zone {
  left: 15%;
}
}
/* 1440*/
/*
@media (max-width:90em) {
  .svg1 {
    bottom: 0;
    right: 256px;
  }
  .info-map {
    left: 48%;
  }
}
*/
/*1088*/
/*
@media (max-width: 68em) {
  .home-page .big-s {
   width: 300px;
   height: 488px;
 }
 .stage-cube-cont  {
   padding-top: 30%;
 }
  .portfolio-page .images-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .svg1 {
    display: none;
  }

  .container.skill-page .text-zone  {
    left: 20%;
    width: 50%;
  }
 .container.skill-page h1 {
   line-height: 56px;
 }

}

*/
/*960*/
/*
@media(max-width: 60em) {
  .nav-bar .logo img.sub-logo{
    width: 32px;
  }
  .home-page h1 {
    line-height: 36px;
  }
  .home-page .big-s {
    display: none;
  }
  .home-page .text-zone {
    left: 32%;
  }
  .container.about-page .text-zone {
    left: 32%;
  }
  .cubespinner div {
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
  .container.skill-page .text-zone {
    left: 32%;
    width: 40%;
}
.info-map {
  font-size: 12px;
  padding: 11px;
  width: 218px;
}
.home-page h1 img {
  width: 28px;
  line-height: 42px;
}
.container h1 span {
  font-size: 42px;
 
}
.home-page .flat-button, 
.home-page .flat-button1 {
  font-size: 10px;
}
.home-page .flat-button {
  padding: 10px 22px;
}

}
*/
/*672*/
/*
@media(max-width: 42em) {

  .nav-bar {
    width: 43px;
  }
  .container h1 span {
    font-size: 32px;
  }
  .home-page h1 img {
    width: 20px;
  }
  .home-page h2  {
    font-size: 10px;
  }
  .container.about-page p {
    font-size: 12px;
    font-weight: 300;
    font-family: sans-serif;
  }

  .portfolio-page .images-container{
  grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-page .image-box .title {
    font-size: 14px;
    margin: 12px 0 10px 12px;
  }
  .container.skill-page p {
    font-size:  12px;
  }
  .portfolio-page h1.page-title {
    margin-left: 56px;
}
.map-wrap, .info-map {
  display: none;
}
.info-map span {
  font-size: 14px;
}
.container.contact-page .text-zone {
  left:20%;
  width: 65%;
}
} 

*/
/*528*/
/*
@media(max-width: 33em) {
  .nav-bar .logo img,
.nav-bar nav, 
.nav-bar ul  {
  display: none;
}
.nav-bar .nav-burger {
  color: #ffd700;
  text-align: center;
  z-index: 6;
  font-size: 24px;
  position: absolute;
  left: 25%;
  display: block;
  width: 1;
  text-align: center;
  opacity: 1;
}
.container h1 span {
  font-size: 24px;
}
.home-page h1 img {
  width: 16px;
}
.home-page h1 {
  line-height: 18px;
}
.tags {
  font-size: 14px;
}
}
.home-page h1:before, .home-page h1:after {
  font-size: 14px;
}
.portfolio-page .image-box .description {
  font-size: 14px;
}

@media(max-width:26em) {
  .home-page .text-zone {
    width: 67%;
  }
  .container h1 span {
    font-size: 18px;
}
.home-page h1 {
  line-height: 12px;
}
.home-page h1 img {
  width: 14px;
}
.home-page .flat-button, .home-page .flat-button1 {
  font-size: 8px;
}
}

*/